extends ../layouts/default

block locals

  +view(views.home)

block title

  +title(views.home.name)

block view

  +row()
  
    +stringify(view)

    h1=view.name
    p=view.url

    ul(class='u-list-reset')
      each color in colors
        - const { name } = color
        li(
          class=`u-p3 u-mb3 u-bg-${name}`
          class=name === 'light' ? 'u-border u-dark' : null
        )
          span(class=name === 'light' ? 'u-dark' : 'u-light')
            =name

    each m in spaces
      div(class=`u-m${m} u-border`)
        =`.u-m${m}`
    
    each m in spaces
      div(class=`u-m${m}-sm u-border`)
        =`.u-m-${m}-sm`
    
    each m in spaces
      div(class=`u-m${m}-md u-border`)
        =`.u-m${m}-md`

    each m in spaces
      div(class=`u-m${m}-lg u-border`)
        =`.u-m${m}-lg`
  
    each p in spaces
      div(class=`u-mb3 u-p${p} u-border`)
        =`.u-p${p}`
